<!doctype html>
<html>

    <body>

        <h1><a href="/">Main Blog Page</a> <a href="/test">Add Blog Entry</a> <a href="/allblogs">All Blogs</a> </h1>     

        <h1 align="center">Build A Blog</h1>
        
            <div style='float: right'>
                    {% if 'user_name' in session %}
                      {{ session['user_name'] }}
                      <form action="/logout" method="post" id='logout'>
                        <input type="submit" value="Log Out" />
                      </form>
                    {% else %}
                       <a href="/login">login</a> | <a href="/signup">register</a>
                        <form action="/login" method="post"></form>
                        <form action="/signup" method="post"></form>
                        
                    {% endif %}
                  </div>

        {% with messages = get_flashed_messages(with_categories=True) %}
            <ul>
            {% for category,message in messages %}
                <li class="{{category}}">{{message}}</li>
                
            {% endfor %}
            </ul>
        {% endwith %}

       

    
        {% block content %}
        <ul>
            {% for title in titles %}
            <li>{{title}}
                <form method="POST" style="display:inline-block;">
                        
                </form>
            </li>
            {% endfor %}
            
        </ul>
        {% endblock %}
    
    </body>
</html>