{% extends "base.html" %}

{% block content %}


        
{% for var in display_list %}
              
        <li style="font-size: 30px; list-style-type:none;"align="center">{{var.title}}</li>
        <li style="list-style-type:none;">{{var.blog}}</li>

        </br>
        <p>Written by</p>
        <li style="font-size: 30px; list-style-type:none;"><a href="/display/{{user_id}}" >{{returned_name}}</a> </li>
        <!--line above is not appearing, doing nothing-->

        {% endfor %}





{% endblock %}