{% extends "base.html" %}

{% block content %}
<h1>Register to Blog!</h1>

    <table>
        <tr>
            <td>
                <form method='post' action="/signup">
                <label for="user_name">User Name</label></td>
            <td>
                <input name="user_name" type="user_name" value={{user_name}}>
            </td>
        </tr>
        <tr>
            <td><label for="password">Password</label></td>
            <td>
                <input name="password" type="password">
            </td>
        </tr>
        <tr>
            <td><label for="verify">Verify Password</label></td>
            <td>
                <input name="verify" type="password">
            </td>
        </tr>
    </table>
    <input type="submit" value="Sign up">
</form>
{% endblock %}